<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="FME" translate="label" sortOrder="10" class="FME-extensions">
            <label>FME Social Extensions</label>
        </tab>
        <section id="FME" translate="label" type="text" sortOrder="8888" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Information</label>
            <tab>FME</tab>
            <resource>FME_Core::configuration</resource>
          
        </section>
    </system>
</config>
